<div><b>UID:</b>  {{ (_auth.af.auth | async)?.uid }} </div>
<div><b>Anonymous:</b>  {{ (_auth.af.auth | async)?.anonymous }} </div>

<div *ngIf="!(_auth.af.auth | async) || (_auth.af.auth | async)?.anonymous">
  <a class="btn-login btn btn-block btn-social btn-google"
    (click)="_auth.login('Google')">
    <span class="zmdi zmdi-google"></span> Sign in with Google
  </a>
  <a class="btn-login btn btn-block btn-social btn-github"
  (click)="_auth.login('Github')">
    <span class="zmdi zmdi-github"></span> Sign in with GitHub
  </a>
  <a class="btn-login btn btn-block btn-social btn-facebook"
  (click)="_auth.login('Facebook')">
    <span class="zmdi zmdi-facebook"></span> Sign in with Facebook
  </a>
  <a class="btn-login btn btn-block btn-social btn-twitter"
  (click)="_auth.login('Twitter')">
    <span class="zmdi zmdi-twitter"></span> Sign in with Twitter
  </a>
</div>

<div *ngIf="(_auth.af.auth | async) && ! (_auth.af.auth | async)?.anonymous">
  <a class="btn-logout btn btn-block btn-social btn-reddit"
  (click)="_auth.logout()">
    <span class="zmdi zmdi-account"></span> Sign Out
  </a>
</div>

