<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Question</h3>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <form [formGroup]="voteForm" novalidate (ngSubmit)="submitForm(voteForm)">
        <ul class="options">
          <li *ngFor="let option of options; let i = index">
            <input type="radio" id="{{i}}" value="{{option.i}}" name="voteOption" formControlName="voteOption"  />
            <label for="{{i}}" class="btn btn-sm btn-outline-primary">{{option.option}}</label>
          </li>
        </ul>

        <button type='button' class="btn btn-md btn-outline-secondary" [routerLink]="['/polls']">Back</button>
        <button type='submit' class="btn btn-md btn-outline-success"
          [disabled]="!voteForm.valid">Vote</button>
      </form>
    </div>

    <div class="col-sm-6">

      <div style="display: block" *ngIf="! doughnutChartEmpty">
        <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [options]="doughnutChartOptions"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      <div style="display: block" *ngIf="doughnutChartEmpty">
        No Data
      </div>

    </div>

  </div>
</div>