<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Question</h3>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <span *ngFor="let option of options">
        <button type='button' class="btn btn-sm btn-outline-primary">{{option.option}}</button>
        <br>
        <br>
      </span>

      <button type='button' class="btn btn-md btn-outline-success">Vote</button>

    </div>

    <div class="col-sm-6">

      <div style="display: block" *ngIf="! doughnutChartEmpty">
        <canvas baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [options]="doughnutChartOptions"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      <div style="display: block" *ngIf="doughnutChartEmpty">
        No Data
      </div>

    </div>

  </div>
</div>